#Auto-detect
* text=auto

#Source code
*.css   text
*.html  text
*.js    text
*.json  text
*.sass  text
*.scss  text

#Documentation
*.md     text
*.txt    text
LICENSE  text

#Configs
.gitattributes     text
.gitignore         text
package-lock.json  text -diff

#Graphics
*.ico   binary
*.gif   binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.svg   text
*.webp  binary

#Fonts
*.woff   binary
*.woff2  binary
