# Auto-detect
* text=auto

# Source code
*.css   text diff=css
*.html  text diff=html
*.js    text
*.json  text
*.map   text
*.scss  text diff=css

# Documentation
*.md     text
LICENSE  text

# Templates
*.handlebars  text

# Configs
.editorconfig      text
.gitattributes     text
.gitignore         text
package-lock.json  text -diff

# Graphics
*.gif   binary
*.ico   binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.svg   text
*.webp  binary

# Fonts
*.woff   binary
*.woff2  binary
