body {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $color-text;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
