svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
