<nav class="main-header__navigation">
  <a class="main-header__logo" aria-label="Logo">Logo</a>
  <div class="navigation__wrapper">
    <ul class="navigation__list-site">
      <li class="navigation__item-site">
        <a class="navigation__link-site" href="#">Item 1</a>
      </li>
      <li class="navigation__item-site">
        <a class="navigation__link-site" href="#">Item 2</a>
      </li>
      <li class="navigation__item-site">
        <a class="navigation__link-site" href="#">Item 3</a>
      </li>
      <li class="navigation__item-site">
        <a class="navigation__link-site" href="#">Item 4</a>
      </li>
    </ul>
    <ul class="navigation__list-user">
      <li class="navigation__item-user">
        <a class="navigation__link-user" href="#">Item 5</a>
      </li>
    </ul>
  </div>
  <button class="navigation__button menu" type="button" aria-controls="navigation" aria-label="Menu" tabindex="1">Menu
    <span class="menu__box">
      <span class="menu__inner"></span>
    </span>
  </button>
</nav>
