// Цвета
$color-text: #000000;
$color-heading: #000000;
$color-link: #000000;
$color-hover: #000000;
$color-shadow: fade(#ff0004, 19%);
$color-light: #fbfcfc;
$color-accent: #ff690f;
$color-secondary: #325785;

// Типографика
$font-weight: 400;
$font-size: 16px;
$font-size-heading: 40px;
$font-size-subheding: 24px;
$line-height: 1.5;
$font-family: "Segoe UI";
$font-family-heading: "Segoe UI";
