// Цвета

$color-white: #ffffff;
$color-gray-dark: #a6a6a6;
$color-blue: #3cbef1;
$color-black-light: #1b1c1d;
$color-black: #000000;

// Типографика

$font-family: sans-serif;
$font-weight: 400;
$font-size: 16px;
$line-height: 2;
$font-size-heading: 32px;
$font-size-subheading: 24px;
$color-text: $color-black;
$color-heading: $color-black;
