.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: color 0.3s linear, background-color 0.3s linear;
  cursor: pointer;

  &--close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    padding: 20px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 20px;
      background-color: #000000;
      content: "";
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
