<label class="check">
  <input class="check__input" type="checkbox">
  <span class="check__box"></span>
  Первый
</label>
<label class="check">
  <input class="check__input" type="checkbox" checked>
  <span class="check__box"></span>
  Второй
</label>
<label class="check">
  <input class="check__input" type="checkbox" disabled>
  <span class="check__box"></span>
  Третий
</label>
<label class="check">
  <input class="check__input" type="checkbox" checked disabled>
  <span class="check__box"></span>
  Четвёртый
</label>
