<!-- Простой чекбокс -->
<label class="check" for="checkbox">
  <input class="check__input" id="checkbox" type="checkbox" required>
  <span class="check__box"></span>
</label>

<!-- Чекбокс по-умолчанию -->
<label class="check" for="checkbox">
  <input class="check__input" id="checkbox" type="checkbox" required checked>
  <span class="check__box"></span>
</label>

<!-- Чекбокс неактивный -->
<label class="check" for="checkbox">
  <input class="check__input" id="checkbox" type="checkbox" required disabled>
  <span class="check__box"></span>
</label>

<!-- Чекбокс по-умолчанию неактивный -->
<label class="check" for="checkbox">
  <input class="check__input" id="checkbox" type="checkbox" required checked disabled>
  <span class="check__box"></span>
</label>
