.check {
  display: block;
  padding-left: 25px;
  font-size: 16px;
  cursor: pointer;

  &__input,
  &__box {
    position: absolute;
    height: 14px;
    width: 14px;
    margin: 6px 0 0 -25px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #8f8f8f;
  }

  &__input {
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    &:checked + .check__box {

      &::before,
      &::after {
        position: absolute;
        top: 6px;
        left: 1px;
        width: 12px;
        height: 2px;
        background-color: #000000;
        content: "";
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:focus + .check__box {
      box-shadow: 0 0 0 1px #4d90fe;
    }

    &:disabled + .check__box {
      box-shadow: 0 0 0 1px #cccccc;
    }

    &:disabled:checked + .check__box {
      background-color: #cccccc;
    }
  }
}
